<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="unit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="MEDIASCOUT_ENDPOINT_URL" value=""/>
        <env name="MEDIASCOUT_LOGIN" value=""/>
        <env name="MEDIASCOUT_PASSWORD" value=""/>
    </php>
</phpunit>